@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

*{
  font-family: 'Prompt', sans-serif;
}

body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  max-height: 100vh;
}